body {
    width: 1000px;
    margin: auto;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.text-center {
    text-align: center;
}
.flex {
    display: flex; 
    justify-content: space-between;
}
#Celsius {
    font-size: 40px;
    line-height: 80px;
}
#icon {
    margin-top: 0px;
}

.two_column {
display: grid;
grid-template-columns: 1fr 1fr;
justify-items:stretch;
}

.weather_table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}